{% extends "bootstrap/base.html" %}

{%  block title %}Osteotomy{% endblock %}

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
    window.cookieconsent_options = {"message":"Diese Webseite verwendet Cookies, um Ihnen ein angenehmeres Surfen zu ermöglichen.","dismiss":"Bitte bestätigen!","learnMore":"Mehr Infos","link":null,"theme":"dark-top"};
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
    <!-- End Cookie Consent plugin -->

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='pumuckl_01.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='pumuckl_01.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/site.css" />
    <div class="container-fluid fluid-top">
                <img src="{{ url_for('static', filename='img/Lebensfreude_logo_02_sw.png') }}"
                     class="img-fluid" alt="Logo">

    </div>
{% endblock %}

{% block navbar %}
{{ super() }}
    {{ nav.top.render() }}
{% endblock %}

{#{%  block content_header %}#}
{#{%  endblock %}#}

{% block content %}
{{ super() }}
<div class="container">
{{ super() }}
    <div class="container-fluid fluid-middle">
        <div class="row content_main">
            <div class="col-sm-10">
                {% block page_content_middle %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <div class="container-fluid fluid-bottom">
        </footer>
            <p class="copyright">Copyright (C) 2020 | Uwe Schweinsberg | yetigo42+osteotomy@gmail.com</p>
            <p><a href="https://www.gnu.org/licenses/gpl-3.0.html"target="_blank" rel="nofollow">
                GNU GENERAL PUBLIC LICENSE Version 3</a></p>
            <p class="small">This program comes with ABSOLUTELY NO WARRANTY;
            This is free software, and you are welcome to redistribute it
               under certain conditions.</p>
        </footer>
    </div>
{{ moment.include_moment() }}
{% endblock %}